.card-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.card-container-emp {
    margin-top: 10px;
    background-color: aqua;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.199);
}

.image-container {
    width: 100%;
    height: 70%;
    background-color: beige;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.card-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bg-italian {
    z-index: 9;
    background: -webkit-linear-gradient(110deg, #2c911da3 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, white 66%, tomato 66%);
    background: -o-linear-gradient(110deg, #2c911da3 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, white 66%, tomato 66%);
    background: -moz-linear-gradient(110deg, #2c911da3 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, white 66%, tomato 66%);
    background: linear-gradient(110deg, #2c911da3 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, white 66%, tomato 66%);
}

.card-price {
    display: flex;
    margin-top: 5px;
    width: 100%;
    justify-content: center;
}

.card-price span {
    z-index: 100;
}

.card-title span {
    z-index: 100;
}

.price-container {
    width: 100%;
    height: 30%;
}

.mfooter {
    margin-top: 10px;
}

.card-container-emp:hover {
    transform: translate(5px, 5px);
    animation: cssAnimation_0 1209ms infinite ease-out 1s;
}

@keyframes cssAnimation_0 {
    to {
        box-shadow: 3px 3px 17px 9px rgba(255, 1, 1, 0.84);
    }
}