
.video {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.texto1-container {
    width: 569px;
    background-position: right;
    background-color: tomato;
    font-size: 30px;
    text-align: left;
    font-family: "Italianno", cursive;
    padding: 16px;
}

.negrita {
    font-style: italic;
    font-weight: bold;
}

.txtitaliano {
    width: 600px;
    font-size: 30px;
    margin-bottom: 2px;
}

.txt1 {
    font-family: "Italianno", cursive;
    background-color: green;
    padding: 6px;
}

.txt2 {
    font-family: "Italianno", cursive;
    background-color: white;
    padding: 6px;
}

.txt3 {
    font-family: "Italianno", cursive;
    background-color: red;
    padding: 6px;
}

.maps {
    margin-top: 50px;
    width: 600px;
    height: 400px;

}

/* NUEVOS ESTILOS !!!! */
/* HOME IMAGES  */
.title-container {
    display: grid;
}

.home-image-item {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-top: 3px;
}

.home-images-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    /* overflow-wrap: wrap; */
    /* height: 100%; */
}

.home-images {
    width: 100%;
    height: 100%;

}

/* BANNER */
.banner-container {
    display: grid;
}

@media screen and (max-width: 768px) {
    .banner-container {
        display: none;
    }

    .home-images-container {
        display: flex !important;
        flex-direction: column;
    }

    .home-image-item {
        width: 100% !important;
    }

    .video {
        flex-direction: column;
        width: 100%;
    }

    .txtitaliano {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .texto1-container {
        width: 100%;
    }

    .video2-item {
        width: 100%;
    }

    .maps {
        width: 100%;
    }

    .video2-item.maps iframe {
        width: 100%;
    }
}

.title-container {
    transform: translate(0px, 0px);
    text-shadow:
        3px 0px 0px rgba(72, 191, 33, 1),
        0px 0px 0px rgba(230, 18, 18, 1);
}

.text {
    font: italic bold 30px "Good Foot";
    letter-spacing: 11px;
}